<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- adding bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/css/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="./assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css" />

    <title>Peter B - Coronavirus tracker</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark primary-color">

            <!-- Navbar brand -->
            <a class="navbar-brand" href="#">Corona-virus Tracker</a>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
                aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home

                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/prayers">Thought and prayers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Bussines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                    <!-- Dropdown -

      </ul>
      <!-- Links -->

    </header>

    {{{body}}}

    <!-- adding a footer -->
    {{>main/footer}}

    <!-- adding an arrow to scroll to the top -->
    <a id="back2Top" title="Back to top" href="#">&#10148;</a>

    <!-- linking font awesome -->
    <script src="https://kit.fontawesome.com/8bee116590.js" crossorigin="anonymous"></script>
    <!-- end   adding an arrow to scroll to the top-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.14.1/js/mdb.min.js"></script>
    <!-- <script src="./reset.js"></script> -->

    <script type="text/javascript" src="../../public/assets/js/"></script>
    <script src="./assets/js/script.js"></script>
    <script src="./assets/js/login.js"></script>
    <!-- Have fun and stay healthy! Peter :)  -->
</body>

</html>