<div class="row">
    <div class="col-sm-2">
        <input type="date" id="datePicker1" class="form-control" />
    </div>
</div>
<div class="break-out"><br /></div>
<div class="row">
    <div class="col-sm-12">
        {{>cmp/btn id="submitBtn" text="See Data!"}}
    </div>
</div>