<footer class="page-footer font-small blue">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        <h7>Created by Peter Bold / peterboldyrev@gmail.com</h7>
    </div>
    <!-- Copyright -->
</footer>