{{>home/jumbotron }}


<div class="container">
    <!-- collecting data about Redmond local business -->
    <div class="row">
        <div class="col-12">
            <div id="redmondBusiness" class="collapse business-container showBusiness">
            </div>
        </div>
    </div>


    <!-- This row will handle all the data -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body emp" id="today-section">
                    <p>
                        <strong>Dataset is available since Jan 22, 2020 till today (<span id="todayDate1"></span>). For
                            other dates search is disabled</strong>
                    </p>

                    <div class="table-responsive tableFixHead" id="today"></div>
                </div>
            </div>
        </div>
    </div>
</div>