<div id="prayersJumbotron" class="jumbotron jumbotron-fluid" ;>
    <h1 class="text-center">Thoughts and Prayers</h1>
</div>
<div class="container">
    <div class="row">
        {{!-- <form id="prayerForm" class=" border border-light p-2"> --}}
        <div class="col-12 col-md-6">
            <div class="border border-light p-2">
               <h2 class="text-center">Prayers</h2>
                <button id="before" class="btn btn-block btn btn-amber" type="submit">See previous prayers!</button>
                
                <hr />
                <div id="prayerArea" class="list-group"></div>
                <button id="next" class="btn btn-block btn btn-amber" type="submit">See more prayers!</button>
            </div>
        </div>

        <div class="col-12 col-md-6">
            <form id="prayerForm" class="border border-light p-2">
                <h2 class="text-center">Pray for Others</h2>
                <hr />
                <input type="text" id="name" class="form-control mb-4" placeholder="Name">

                <input type="text" id="location" class="form-control mb-4" placeholder="Location">

                <textarea class="form-control rounded-0" id="prayerBox" maxlength="250" rows="6"
                    placeholder="Prayer"></textarea>
                {{!-- <br> --}}
                <button id="prayerSubmit" class="btn btn-info btn-block btn btn-amber" type="submit">Submit your
                    prayer!</button>
            </form>
        </div>
        {{!-- </form> --}}
    </div>
</div>