<div class="jumbotron">
    <h1 class="text-center">Thoughts and Prayers</h1>
</div>



<div class="container">
    <div class="row">
        <button id="next">></button>
        <div class="col-sm-8 col-sm-offset-2">
            <h2>Prayers</h2>
            <hr />
            <div id="prayerArea"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <p class="cool-font">Name</p>
            <input class="form-control" type="text" id="name" placeholder="Enter Your Name" />
            <p class="cool-font">Location</p>
            <input class="form-control" type="text" id="location" placeholder="State or Country" />
            <br />
            <p class="cool-font">Prayer</p>
            <textarea class="form-control" rows="3" id="prayerBox"
                placeholder="Enter you Thoughts and Prayers"></textarea>
            <button id="prayerSubmit" class="btn btn-lg pull-right">
                Submit!
            </button>
        </div>
    </div>
</div>